<!--include header-->

    <!-- nav -->
    <%-include('include/_header')%>
    <!--Header-->
    <main class="site-main-box">
    <header>
        <div class="header-info">
            <p class='header-name' href="/add-user">Create New User</p>
            <button class="all-user-btn all-user-btn-form"  id="all-user-btn" style="margin-left: 1rem;"><a class='header-name' href="/dashBoard"><p>Show all user</p></a></button>
        </div>
    </header>
    <!--/Header-->


    <!--Main site-->

    <div class="container">
        <div class="container-flex">

            <!--add user form-->
            <%- include('include/_form') %>

           
        </div>
        </div>
    </main>
    <!--/Main site-->

<!--include footer-->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>


</html>
<!--/include footer-->