

<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<!-- Main Site -->

<div class="container">
    <div class="container-flex">
        <button class="all-user-btn" id="all-user-btn"><p>Show all user</p></button>
        <button class="create-new-user-btn">
            <a href="/add-user">
            Create New User
            </a>
        </button>                
            <div class="search-by-name">
            <label for="serchBar">User Name : </label>
            <input
                type="search"
                name="searchBar"
                id="searchBar"
                placeholder="search for a user"
            />
            <button type="submit" id="search-button" class="search-button">Search</button>
            <!-- <button type="button" id="reset-button">Reset</button> -->
            </div>
            <div class="search-by-date">
                <label for="remaining-date-input">Remaining Date : </label>
                <input type="number" id="remaining-date-input">
                <!-- <button type="button" id="reset-button2">Reset</button> -->
            </div>

        
    </div>
    
    <table>
        <%-include('include/_tableHead')%>
        <%-include('include/_show')%>
        
    </table> 
    
    
</div>
</main>

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->