            <!--form handling-->

            <form action="/api/users" method="POST" id="add_user">
                <div>
                    <div>
                        <label for="name">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="">
                    </div>

                    <div>
                        <label for="PhoneNum">PhoneNum</label>
                        <input type="number" name="phoneNum" id="PhoneNum" value="">
                    </div>

                    <div>
                        <label for="classDate">Class Date</label>
                        <div class="radio inline">
                            <input type="radio" id="Mon" name="classDate" value="Mon">
                            <label for="Mon" class="radio-label">Mon</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Tue" name="classDate" value="Tue">
                            <label for="Tue" class="radio-label">Tue</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Wed" name="classDate" value="Wed">
                            <label for="Wed" class="radio-label">Wed</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Thur" name="classDate" value="Thur">
                            <label for="Thur" class="radio-label">Thur</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Fri" name="classDate" value="Fri">
                            <label for="Fri" class="radio-label">Fri</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Sat" name="classDate" value="Sat">
                            <label for="Sat" class="radio-label">Sat</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Sun" name="classDate" value="Sun">
                            <label for="Sun" class="radio-label">Sun</label> 
                        </div>
                    </div>
                    

                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="startDate" value="">

                    <div>
                        <label for="teacher">Teacher</label>
                        <div class="radio inline">
                            <input type="radio" id="Kim" name="teacher" value="Kim">
                            <label for="Kim" class="radio-label">Kim</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Han" name="teacher" value="Han">
                            <label for="Han" class="radio-label">Han</label> 
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="Anes" name="teacher" value="Anes">
                            <label for="Anes" class="radio-label">Anes</label> 
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn text-dark update" >Save</button>
                    </div>
                    
                </div>

            </form>

            <!--/form handling-->            