<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoshiko's call Uer Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- nav -->
    <nav>
        <h1>
            Yoshiko<br>Management<br>Aplication
        </h1>
        <div class="nav-btns">
        <button>User Dashdoard</button>
        <button>My Schedule</button>
        <button>Log Out</button>
        </div>
    </nav>
    <!--Header-->
    <main class="site-main-box">
    <header>
        <div class="header-info">
            <a class='header-name' href="/">All User</a>
            <div>
                <p  class="header-user-count"><span id="total-user"></span> users</p>
            </div>
        </div>
    </header>
    <!--/Header-->