<div>
    <div class="box-nav d-flex justify-between">
        <a href="/add-user" class="border-shadow">
            <span class="text-gradient">New User <i class="fas fa-user"></i></span>
        </a>
    </div>
    <div id="searchWrapper">
        <button id="all-user-btn">Show all user</button>
        <div class="search-by-name">
        <label for="serchBar">User Name : </label>
        <input
            type="search"
            name="searchBar"
            id="searchBar"
            placeholder="search for a user"
        />
        <button type="submit" id="search-button">Search</button>
        <button type="button" id="reset-button">Reset</button>
        </div>
        <div>
            <label for="remaining-date-input">Remaining Date : </label>
            <input type="number" id="remaining-date-input">
            <button type="button" id="reset-button2">Reset</button>
        </div>
        
    </div>
    
</div>

<tbody  id="user-table-over-date">
</tbody>
<tbody  id="user-table-less-seven">
</tbody>
<tbody  id="user-table">
</tbody>

<% console.log("rendered show.ejs") %>



<% if (users) { %>
    <script>
       var DBUsers = '<%- JSON.stringify(users) %>'           
    </script>
<% } %>















    

