<thead>
    <tr>
        <th class="th-left">Name</th>
        <th>PhoneNumber</th>
        <th>
            <select name="class-date" id="class-date" onclick="filter()">
                <option value="class-date" selected="selected">Class Date</option>
                <option value="mon">Mon</option>
                <option value="tue">Tue</option>
                <option value="wed">Wed</option>
                <option value="thur">Thur</option>
                <option value="fri">Fri</option>
                <option value="sat">Sat</option>
                <option value="sun">Sun</option>
            </select>

        </th>
        <th>Starting Date</th>
        <th>Remaining Date</th>
        <th>
        <select name="teacher" id="teacher" onclick="filter()">
            <option value="teacher" selected>Teacher</option>
            <option value="han">Han</option>
            <option value="kim">Kim</option>
        </select>
        </th>
        <th class="th-right">Action</th>
    </tr>
</thead>